*	linguist-language=Dhall

# The rest of this is just un-Dhalling the other bits of the repo.
.*	-linguist-language
LICENSE	-linguist-language
README.md	-linguist-language
docs/*	-linguist-language
scripts/*	-linguist-language
shell.nix	-linguist-language
